@font-face {
  font-family: "HK-Grotesk-Bold";
  src: url("../fonts/hkgrotesk-bold.eot") format("eot"),
    url("../fonts/hkgrotesk-bold.woff") format("woff"),
    url("../fonts/hkgrotesk-Bold.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "HK-Grotesk-Medium";
  src: url("../fonts/hkgrotesk-medium.eot") format("eot"),
    url("../fonts/hkgrotesk-medium.woff") format("woff"),
    url("../fonts/hkgrotesk-medium.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "HK-Grotesk-Regular";
  src: url("../fonts/hkgrotesk-regular.eot") format("eot"),
    url("../fonts/hkgrotesk-regular.woff") format("woff"),
    url("../fonts/hkgrotesk-regular.woff2") format("woff2");
  font-weight: normal;
}

.regular {
  font-family: "HK-Grotesk-Regular", sans-serif;
}

.medium {
  font-family: "HK-Grotesk-Medium", sans-serif;
}

.bold {
  font-family: "HK-Grotesk-Bold", sans-serif;
}

html,
input {
  /* this smooths our fonts nicely on higher density screens */
  -webkit-font-smoothing: antialiased;
}
