:root {
  --orange: #f33c15;
  --breakpoint-1: 840px;
  --medium-font: "HK-Grotesk-Medium", sans-serif;
}

.register-image {
  background-image: url(../images/location.jpg);
  background-position: center bottom;
}

/* Most of the time you'll want to override the default input styles */
input {
  border: none;
  line-height: 1.5;
  font-size: 16px;
  height: 48px;
  width: 100%;
  padding: 0 12px;
  outline: none;
  color: #32325d;
}

input::placeholder {
  color: #aab7c4;
}

.bg-orange {
  /* We overwrite the default tachyons bg color */
  background-color: #ffe6dd;
}

.register {
  /* Use grid to stack the child boxes on top of each other */
  display: grid;
  place-items: center;
  /* Chop off the signs of the boxes when our front element slides out */
  overflow: hidden;
}

/* Our boxes will stack on top of each other */
.front,
.back {
  grid-area: 1/1;
}

/* Adding a transition property */
.front {
  transition: transform 0.5s ease;
}

/* We toggle this class using JS */
.front.slide-up {
  transform: translateY(-100%);
}

.button {
  display: inline-block;
  background-color: var(--orange);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border: none;
  padding: 24px 72px;
  font-family: "HK-Grotesk-Bold", sans-serif;
  cursor: pointer;
  outline: none;
}

.button-small {
  font-size: 14px;
  padding: 12px 20px;
}

.button-outline {
  background-color: transparent;
  border: solid 2px var(--orange);
  color: var(--orange);
}

.StripeElement {
  background-color: #fff;
  padding: 12px;
}

/* Here we lock the form when it's submitting */
.form-fields {
  transition: opacity 0.5s ease;
}

.processing .form-fields {
  opacity: 0.5;
  /* disabled mouse interaction with form */
  pointer-events: none;
}

.spinner {
  transition: opacity 0.5s ease;
  width: 40px;
  height: 40px;
  opacity: 0;
  pointer-events: none;
  background-color: var(--orange);
  animation: sk-rotateplane 1.2s infinite ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  z-index: 10;
  box-shadow: 0 0 11px 0px rgb(254, 145, 127);
}

.processing .spinner {
  opacity: 1;
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
