.speaker-image {
  display: block;
  margin-bottom: 12px;
}

.speakers-container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.speaker-name,
.speaker-title {
  margin: 0;
  line-height: 1.33;
}

.speaker-title {
  color: #979797;
  font-family: "HK-Grotesk-Regular", sans-serif;
}
