:root {
  --black: #414141;
  --breakpoint-1: 840px;
  --medium-font: "HK-Grotesk-Medium", sans-serif;
}

body {
  font-family: var(--medium-font);
  font-size: 18px;
  line-height: 1.5;
  color: #414141;
  background-image: url("/images/ANSA-BG2.webp");
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
}

body div {
  font-family: var(--medium-font);
}

a {
  text-decoration: none;
  color: #414141;
}

.scrollable {
  overflow-y: scroll;
}

.heading {
  color: #414141;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #414141;
  font-family: "HK-Grotesk-Bold", sans-serif;
  font-size: 110px;
  line-height: 1;
}

.heading-black {
  font-size: 120px;
  -webkit-text-stroke-color: var(--black);
  margin-bottom: 3rem;
  color: var(--black);
}

.button {
  display: inline-block;
  background-color: var(--orange);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border: none;
  padding: 24px 72px;
  font-family: "HK-Grotesk-Bold", sans-serif;
  cursor: pointer;
  outline: none;
}

.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.wrapper {
  background-color: #535fcf;
  position: absolute;
  left: 0;
  right: 0;
  height: 100px;
}

div blockquote {
  color: var(--black);
  font-size: 36px;
}

.cite {
  display: inline-block;
  color: var(--black);
  line-height: 1;
  padding: 24px 18px;
  border-radius: 100%;
  border: solid 3px var(--black);
  text-transform: uppercase;
  margin-top: 12px;
}

.footer {
  background-color: #222;
}

.footer-link {
  width: 131px;
  height: 40px;
  background-image: url("/images/logo.svg");
}

.fade {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.visible {
  opacity: 1;
}
.video-wrap {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.video-wrap--show {
  pointer-events: auto;
}

.video-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  opacity: 0;
  background: black;
}
.video-wrap--show .video-inner {
  opacity: 1;
}
.video-player {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.content {
  position: relative;
}

/* Loader */
.loader {
  font-size: 2.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.video-loaded .loader {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.action {
  font-family: "Avenir Next", "Helvetica Neue", "Lato", "Segoe UI", Helvetica,
    Arial, sans-serif;
  font-size: 1.15em;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 1em 2em;
  color: #fff;
  border: 2px solid;
  border-radius: 40px;
  background: none;
  -webkit-flex: none;
  flex: none;
}

.action:focus {
  outline: none;
}
.action__label {
  display: inline-block;
  margin: 0 0 0 0.75em;
}

.action__label--hidden {
  position: absolute;
  top: 200%;
}
.action--play {
  display: block;
  margin: 1em auto;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s 0.1s;
  transition: opacity 0.3s 0.1s;
}

.video-loaded .action--play {
  opacity: 1;
  pointer-events: auto;
}
.action--close {
  line-height: 1;
  position: absolute;
  z-index: 1000;
  top: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  padding: 0;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: scale3d(0.7, 0.7, 1);
  transform: scale3d(0.7, 0.7, 1);
}

.video-wrap--show .action--close {
  opacity: 1;
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

@media (max-width: 800px) {
  body {
    font-size: 16px;
    background-size: auto 120vh;
  }
  .heading {
    font-size: 72px;
    -webkit-text-stroke-width: 2px;
  }
  .button {
    padding: 18px 32px;
    font-size: 16px;
  }
  .heading-black {
    margin-bottom: 24px;
  }
  blockquote div {
    line-height: 1.2;
  }
  .schedule-day {
    padding: 12px;
  }
  .video-inner {
    width: 30vw;
    height: 30vw;
    border: 20px solid #fff;
    -webkit-transform: scale3d(0.1, 0.1, 1) rotate3d(0, 0, 1, -5deg);
    transform: scale3d(0.1, 0.1, 1) rotate3d(0, 0, 1, -5deg);
  }
  .video-wrap--show .video-inner {
    opacity: 0;
    -webkit-animation: showVideo-1 1.25s forwards;
    animation: showVideo-1 1.25s forwards;
  }
  .video-wrap--hide .video-inner {
    -webkit-animation: hideVideo 1.25s forwards;
    animation: hideVideo 1.25s forwards;
  }
  .video-player {
    left: 50%;
    width: auto;
    height: 100vh;
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
    -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0.7, 0.7, 1)
      rotate3d(0, 0, 1, 5deg);
    transform: translate3d(-50%, -50%, 0) scale3d(0.7, 0.7, 1)
      rotate3d(0, 0, 1, 5deg);
  }
  .video-wrap--show .video-player,
  .video-wrap--hide .video-player {
    -webkit-transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
    transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
  }
}

@media (max-width: 400px) {
  .heading {
    font-size: 48px;
    -webkit-text-stroke-width: 1px;
  }
}

@media screen and (min-width: 25em) and (min-aspect-ratio: 1280/720) {
  .video-inner {
    width: 30vh;
    height: 30vh;
  }
  .video-wrap--show .video-inner {
    -webkit-animation: showVideo-2 1.25s forwards;
    animation: showVideo-2 1.25s forwards;
  }
  .video-player {
    width: 100vw;
    height: auto;
  }
}
@-webkit-keyframes showVideo-1 {
  50% {
    width: 50vw;
    height: 50vw;
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1) rotate3d(0, 0, 1, -5deg);
    transform: scale3d(0.5, 0.5, 1) rotate3d(0, 0, 1, -5deg);
  }
  100% {
    width: 100vw;
    height: 100vh;
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes showVideo-1 {
  50% {
    width: 50vw;
    height: 50vw;
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1) rotate3d(0, 0, 1, -5deg);
    transform: scale3d(0.5, 0.5, 1) rotate3d(0, 0, 1, -5deg);
  }
  100% {
    width: 100vw;
    height: 100vh;
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
  }
}

/* The other animation is exactly the same, we just use the viewport height as base measure and so we need to set the 50% keyframe width and height to 50vh. */

@-webkit-keyframes showVideo-2 {
  50% {
    width: 50vh;
    height: 50vh;
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1) rotate3d(0, 0, 1, -5deg);
    transform: scale3d(0.5, 0.5, 1) rotate3d(0, 0, 1, -5deg);
  }
  100% {
    width: 100vw;
    height: 100vh;
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes showVideo-2 {
  50% {
    width: 50vh;
    height: 50vh;
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1) rotate3d(0, 0, 1, -5deg);
    transform: scale3d(0.5, 0.5, 1) rotate3d(0, 0, 1, -5deg);
  }
  100% {
    width: 100vw;
    height: 100vh;
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
  }
}
@-webkit-keyframes hideVideo {
  0% {
    width: 100vw;
    height: 100vh;
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
  }
  100% {
    width: 100vw;
    height: 100vh;
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes hideVideo {
  0% {
    width: 100vw;
    height: 100vh;
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
  }
  100% {
    width: 100vw;
    height: 100vh;
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
  }
}
